# Allows to ignore the files that are to be excluded from the Docker context

# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__
app/*/__pycache__
app/*/*/__pycache__
app/*/*/*/__pycache__
.env/
.venv/
venv/
