version: "3.9"

services:
    app:
        build:
            context: .
            args:
                - DEV=true
        ports:
            - "8500:8500"    # Expose port 8500 for the Django app. <local-machine-port>:<container-port>
        volumes:
            - ./app:/app
        command: >
            sh -c "python manage.py runserver 0.0.0.0:8500"
        image: recipe_app_api:latest